<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="head">


    <div class="indexHead">
    <h1>
      Manga
    </h1>
    </div>

<a  class="fixedMenu" href="/new">
    <button  class="menuButton" type="button" name="button"></button>
  Add Manga
</a>



    </div>

    <div class="mangalist">


    <% for(let i =0; i < data.length; i++) { %>
      <a href="/<%=data[i]._id%>" class="mangaContainer">

      <div class="manga">
        <div class="mangaTitle">
          <p><%=data[i].title%></p>
        </div>
        <img class="miniImg" src="<%=data[i].img%>" alt="">

      </div>
      <div class="mangaInfo">
        <div class="border">


        <ul>
          <li>Year of release: <%=data[i].releaseYear%></li>
          <li>Authors: <%=data[i].authors%></li>
          <li>Is the series on going?: <% if(data[i].onGoing == true) { %>
            Yes
          <% } else { %>
            No
          <% } %></li>
          <li>Number of Volumes: <%=data[i].totalVolumes%></li>
          <li>Personal rating: <%=data[i].rating%></li>
          <li>Review: <%=data[i].review%></li>
          <li>Is there an anime: <% if(data[i].anime == true) { %>
            Yes
          <% } else { %>
            No
          <% } %></li>

        </ul>
        </div>
      </div>
      </a>
      <%  } %>












    </div>
  </body>
</html>
